[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"pep8" = "*"
"autopep8" = "*"
requests = "*"
python-dotenv = "*"
googlemaps = "*"
campsights = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"
